In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)['keywords'].values

array(['[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'],
      dtype=object)

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies = movies.merge(credits, on = 'title')

In [7]:
movies.shape

(4809, 23)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [9]:
movies = movies[['movie_id','genres','title','keywords','overview','cast','crew']]

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   genres    4809 non-null   object
 2   title     4809 non-null   object
 3   keywords  4809 non-null   object
 4   overview  4806 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [11]:
movies.isnull().sum()

movie_id    0
genres      0
title       0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace = True)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies.head(1)

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
import ast

In [16]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [20]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [21]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
            count += 1
        else:
            break
    return L

In [22]:
movies['cast'] = movies['cast'].apply(convert3)

In [23]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
def director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [25]:
movies['crew'] = movies['crew'].apply(director)

In [26]:
movies.head(1)

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [27]:
movies['genres'] = movies['genres'].apply(lambda x :[ i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x :[ i.replace(" ","") for i in x])
movies['overview'] = movies['overview'].apply(lambda x :[ i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x :[ i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x :[ i.replace(" ","") for i in x])

In [28]:
movies.head(1)

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [29]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew']

In [30]:
movies.loc[0,'tags']

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [31]:
new_df = movies[['movie_id','title','tags']]
new_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [32]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\lydra\AppData\Local\Temp\ipykernel_8504\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [33]:
new_df['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

C:\Users\lydra\AppData\Local\Temp\ipykernel_8504\3679624391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [35]:
new_df.sample(5)

,movie_id,title,tags
4491,7859,Half Nelson,drama date ex-girlfriend bicycle crack indepen...
196,38055,Megamind,animation action comedy family sciencefiction ...
3519,16564,Winter in Wartime,drama history war netherlands worldwarii durin...
4564,285743,Alleluia! The Devil's Carnival,music horror carnival musical sequel devil dar...
3348,253,Live and Let Die,adventure action thriller londonengland newyor...

In [36]:
import nltk

In [37]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [38]:
def stem(text):
    x = []
    for i in text.split():
        x.append(ps.stem(i))

    return " ".join(x)

In [39]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\lydra\AppData\Local\Temp\ipykernel_8504\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [42]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [43]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [44]:
feature_names = cv.get_feature_names_out()

In [45]:
print(feature_names[0 :1000])

['000' '007' '10' '100' '11' '12' '13' '14' '15' '16' '17' '17th' '18'
 '18th' '18thcenturi' '19' '1910' '1920' '1930' '1940' '1944' '1950'
 '1950s' '1960' '1960s' '1970' '1970s' '1971' '1974' '1976' '1980' '1985'
 '1990' '1999' '19th' '19thcenturi' '20' '200' '2003' '2009' '20th' '21st'
 '23' '24' '25' '30' '300' '3d' '40' '50' '500' '60' '70' '80' 'aaron'
 'aaroneckhart' 'abandon' 'abduct' 'abigailbreslin' 'abil' 'abl' 'aboard'
 'abov' 'abus' 'academ' 'academi' 'accept' 'access' 'accid' 'accident'
 'acclaim' 'accompani' 'accomplish' 'account' 'accus' 'ace' 'achiev'
 'acquaint' 'act' 'action' 'actionhero' 'activ' 'activist' 'activities'
 'actor' 'actress' 'actual' 'ad' 'adam' 'adamsandl' 'adamshankman' 'adapt'
 'add' 'addict' 'adjust' 'admir' 'admit' 'adolesc' 'adopt' 'ador'
 'adrienbrodi' 'adult' 'adultanim' 'adulteri' 'adulthood' 'advanc'
 'adventur' 'adventure' 'adventures' 'advertis' 'advic' 'advis' 'affair'
 'affect' 'afghanistan' 'africa' 'african' 'africanamerican'
 'aftercreditssting' 'afterlif' 'aftermath' 'ag' 'age' 'agediffer' 'agenc'
 'agency' 'agenda' 'agent' 'agents' 'aggress' 'ago' 'agre' 'ahead' 'aid'
 'aidanquinn' 'ail' 'aim' 'air' 'airplan' 'airplanecrash' 'airport' 'aka'
 'al' 'alabama' 'alan' 'alaska' 'albert' 'alcatraz' 'alcohol'
 'alecbaldwin' 'alex' 'alexkendrick' 'alfredhitchcock' 'alfredmolina'
 'ali' 'alic' 'alice' 'alien' 'alieninvas' 'alienlife' 'alienplanet'
 'aliens' 'alik' 'aliv' 'alive' 'allen' 'alli' 'allianc' 'allow' 'alon'
 'alongsid' 'alpacino' 'alpha' 'alreadi' 'alter' 'altern' 'alway' 'alyssa'
 'alzheimer' 'amanda' 'amandapeet' 'amandaseyfri' 'amateur' 'amaz'
 'amazon' 'ambassador' 'ambit' 'ambiti' 'ambul' 'ambush' 'america'
 'american' 'americanabroad' 'americancivilwar' 'americanfootbal'
 'americanfootballplay' 'amid' 'amidst' 'amnesia' 'amp' 'amsterdam' 'amus'
 'amusementpark' 'amy' 'amyadam' 'amysmart' 'ana' 'anakin' 'analyst'
 'anarchiccomedi' 'ancient' 'ancientrom' 'ancientworld' 'anderson' 'andi'
 'andiemacdowel' 'andrew' 'android' 'andy' 'andygarcía' 'angel' 'angela'
 'angelabassett' 'angeles' 'angelinajoli' 'anger' 'angle' 'angri' 'ani'
 'anim' 'animalattack' 'animalhorror' 'animals' 'anjelicahuston' 'ann'
 'anna' 'annafari' 'annakendrick' 'anne' 'annehathaway' 'annemoss'
 'annetteben' 'anni' 'annie' 'anniversari' 'announc' 'annual' 'anonym'
 'anoth' 'answer' 'ant' 'antholog' 'anthoni' 'anthonyanderson'
 'anthonyhopkin' 'anthropomorph' 'anti' 'antic' 'antihero' 'antiqu'
 'antoinefuqua' 'antoniobandera' 'antonyelchin' 'anyon' 'anyth' 'apart'
 'apartheid' 'apartment' 'ape' 'apocalyps' 'apocalypse' 'apocalypt'
 'appar' 'appear' 'appl' 'apple' 'appoint' 'appreci' 'apprentic'
 'approach' 'april' 'aquarium' 'arab' 'arch' 'archaeologist' 'archeolog'
 'archer' 'architect' 'arctic' 'area' 'aren' 'arena' 'argument' 'aris'
 'aristocrat' 'arm' 'armi' 'armor' 'armsdeal' 'army' 'arnold'
 'arnoldschwarzenegg' 'arrang' 'arrangedmarriag' 'arrest' 'arriv' 'arrog'
 'art' 'arthur' 'artifact' 'artifici' 'artificialintellig' 'artist' 'ash'
 'ashley' 'ashleyjudd' 'ashtonkutch' 'asia' 'asian' 'asid' 'ask' 'aspect'
 'aspir' 'assassin' 'assault' 'assembl' 'assign' 'assist' 'assistant'
 'associ' 'assum' 'asteroid' 'astronaut' 'asylum' 'atheist' 'athlet'
 'atom' 'atomicbomb' 'attack' 'attacks' 'attempt' 'attend' 'attent'
 'attic' 'attitud' 'attorney' 'attract' 'auction' 'audienc' 'audit'
 'august' 'aunt' 'austin' 'australia' 'australian' 'author' 'autism'
 'auto' 'automobilerac' 'aveng' 'averag' 'avoid' 'await' 'awak' 'awaken'
 'awar' 'award' 'away' 'awkward' 'awri' 'awry' 'ax' 'babe' 'babi' 'baby'
 'bachelor' 'backdrop' 'background' 'backpack' 'bad' 'bag' 'bahama' 'bail'
 'balanc' 'ball' 'ballet' 'balloon' 'baltimor' 'ban' 'band' 'bandit'
 'bangkok' 'banish' 'bank' 'banker' 'bankrobb' 'bankrobberi' 'bar'
 'barbrastreisand' 'bare' 'bargain' 'barn' 'barney' 'baron' 'barri'
 'barrylevinson' 'barrysonnenfeld' 'bas' 'base' 'basebal'
 'basedoncomicbook' 'basedongraphicnovel' 'basedonnovel' 'basedonplay'
 'basedonstagemus' 'basedontrueev' 'basedontruestori' 'basedontvseri'
 'basedonvideogam' 'basedonyoungadultnovel' 'basement' 'basketbal'
 'basketball' 'bat' 'batman' 'battl' 'battle' 'battlefield' 'bay' 'beach'
 'beam' 'bear' 'beard' 'beast' 'beat' 'beauti' 'beautiful'
 'beautifulwoman' 'beauty' 'becam' 'becaus' 'becki' 'becom'
 'becominganadult' 'bed' 'bedroom' 'bee' 'beer' 'befor' 'befriend' 'began'
 'begin' 'begins' 'behavior' 'belief' 'believ' 'bell' 'bella' 'belong'
 'belov' 'ben' 'benaffleck' 'bend' 'beneath' 'benefit' 'benfost'
 'beniciodeltoro' 'benjamin' 'benjaminbratt' 'benkingsley' 'bennett'
 'benstil' 'bent' 'berlin' 'best' 'bestfriend' 'bestfriendsinlov' 'bet'
 'beth' 'betray' 'bettemidl' 'better' 'betti' 'beverli' 'bibl' 'bid' 'big'
 'bigger' 'biggest' 'bike' 'biker' 'bikini' 'billhad' 'billi' 'billionair'
 'billmurray' 'billnighi' 'billpaxton' 'billpullman' 'billybobthornton'
 'billycrudup' 'billycryst' 'biographi' 'biolog' 'bird' 'birth' 'birthday'
 'bisexu' 'bishop' 'bit' 'bite' 'bitter' 'bizarr' 'black' 'blackmag'
 'blackmail' 'blackpeopl' 'blacksmith' 'blade' 'blame' 'blend' 'blind'
 'bliss' 'blizzard' 'block' 'blond' 'blood' 'bloodi' 'bloodsplatt'
 'bloodthirsti' 'blow' 'blue' 'board' 'boardingschool' 'boat' 'bob'
 'bobbi' 'bobbyfarrelli' 'bobhoskin' 'bodi' 'body' 'bodyguard' 'bold'
 'bollywood' 'bomb' 'bond' 'bone' 'book' 'border' 'bore' 'boredom' 'born'
 'boss' 'boston' 'botch' 'bound' 'boundari' 'bounti' 'bountyhunt' 'bout'
 'box' 'boxer' 'boy' 'boyfriend' 'boys' 'bradleycoop' 'bradpitt' 'brain'
 'brainwash' 'brand' 'brandon' 'brave' 'braveri' 'brazil' 'brazilian'
 'break' 'breakdown' 'breast' 'breath' 'breed' 'brendanfras'
 'brendangleeson' 'brent' 'brettratn' 'brian' 'briandepalma' 'bride'
 'bridesmaid' 'bridg' 'brief' 'brielarson' 'brien' 'bright' 'brilliant'
 'bring' 'brink' 'britain' 'british' 'britishsecretservic'
 'brittanymurphi' 'broadcast' 'broadway' 'broke' 'broken' 'broker' 'bronx'
 'brook' 'brooklyn' 'broom' 'brothel' 'brother'
 'brotherbrotherrelationship' 'brothers' 'brothersisterrelationship'
 'brought' 'brown' 'bruce' 'brucegreenwood' 'brucewilli' 'brutal'
 'bryansing' 'bu' 'buck' 'bud' 'buddi' 'buddy' 'buddycomedi' 'buddycop'
 'budget' 'build' 'building' 'built' 'bullet' 'bulli' 'bumbl' 'bunch'
 'bunker' 'bunni' 'burglar' 'buri' 'burn' 'bush' 'busi' 'business'
 'businessman' 'bust' 'butcher' 'butler' 'butt' 'button' 'buy' 'buzz'
 'cabin' 'caesar' 'cage' 'cairo' 'cal' 'california' 'calvin' 'camcord'
 'came' 'camera' 'cameraman' 'camerondiaz' 'camp' 'campaign' 'campbell'
 'campu' 'canada' 'canadian' 'cancer' 'candi' 'candid' 'canin' 'cannib'
 'canuxploit' 'capabl' 'caper' 'capit' 'capt' 'captain' 'captiv' 'captur'
 'capture' 'car' 'caraccid' 'carchas' 'carcrash' 'card' 'care' 'career'
 'carefre' 'caretak' 'careymulligan' 'caribbean' 'carjourney' 'carl'
 'carlagugino' 'carmen' 'carol' 'carolina' 'carrac' 'carri' 'carrie'
 'cartel' 'carter' 'cartoon' 'caryelw' 'case' 'caseyaffleck' 'cash'
 'casino' 'cast' 'castl' 'cat' 'cataclysm' 'catastroph' 'catch'
 'cateblanchett' 'catherinedeneuv' 'catherinekeen' 'catherinezeta'
 'cathol' 'catholic' 'cattl' 'caught' 'caus' 'cavalri' 'cave' 'cavemen'
 'celebr' 'celebration' 'cell' 'cellphon' 'cemeteri' 'center' 'centr'
 'central' 'centuri' 'centuries' 'century' 'ceo' 'certain' 'chad' 'chain'
 'chainsaw' 'challeng' 'chamber' 'champion' 'championship' 'chanc'
 'chance' 'chang' 'change' 'changed' 'changes' 'channingtatum' 'chao'
 'chaos' 'chaotic' 'chapter' 'charact' 'character' 'characters' 'charg'
 'charismat' 'charl' 'charli' 'charlie' 'charliesheen' 'charlizetheron'
 'charm' 'chart' 'chase' 'chauffeur' 'chazzpalminteri' 'cheat' 'check'
 'cheerlead' 'chef' 'chemic' 'cher' 'chevychas' 'chicago' 'chicken'
 'chief' 'child' 'childabus' 'childhero' 'childhood' 'childprodigi'
 'children' 'chill' 'chimp' 'china' 'chines' 'chip' 'chipmunk'
 'chiwetelejiofor' 'chloe' 'chloëgracemoretz' 'chloësevigni' 'chocol'
 'choic' 'choice' 'choos' 'chosen' 'chowyun' 'chri' 'chriscolumbu'
 'chriscoop' 'chrisevan' 'chrishemsworth' 'chrisklein' 'chrispin'
 'chrisrock' 'christ' 'christian' 'christianbal' 'christianslat'
 'christin' 'christinaappleg' 'christinaricci' 'christma' 'christmas'
 'christmasparti' 'christmastre' 'christoph' 'christopherlambert'
 'christopherlloyd' 'christophernolan' 'christopherplumm'
 'christopherwalken' 'christophwaltz' 'chrisweitz' 'chronicl' 'chuck'
 'church' 'cia' 'ciaránhind' 'cigarettesmok' 'cillianmurphi' 'cinema'
 'circl' 'circu' 'circuit' 'circumst' 'citi' 'citizen' 'city' 'civil'
 'civilian' 'civilwar' 'claim' 'clair' 'clairedan' 'claireforlani' 'clan'
 'clark' 'clash' 'class' 'classdiffer' 'classic' 'classmat' 'classroom'
 'claudevandamm' 'clay' 'clean' 'clear' 'clerk' 'clever' 'client'
 'clients' 'cliff' 'climat' 'climb' 'clinteastwood' 'cliveowen' 'clock'
 'clone' 'close' 'closer' 'cloud' 'clown' 'club' 'clue' 'clueless'
 'clutch' 'coach' 'coast' 'cocain' 'code' 'coffin' 'cohen' 'col' 'cold'
 'coldwar' 'cole' 'colin' 'colinfarrel' 'colinfirth' 'collaps' 'colleagu'
 'collect' 'collector' 'colleg' 'college' 'collid' 'collis' 'colombia'
 'colonel' 'coloni' 'color' 'colorado' 'coma' 'combat' 'combin' 'come'
 'comeback' 'comed' 'comedi' 'comedian' 'comedy' 'comet' 'comfort' 'comic'
 'coming' 'comingofag' 'comingout' 'command' 'commando' 'commerci'
 'commiss' 'commit' 'common' 'commun' 'communist' 'community' 'compani'
 'companion' 'company' 'compet' 'competit' 'competition' 'complet'
 'complex' 'complic' 'compos' 'compuls' 'comput' 'computerviru' 'conan'
 'concern' 'concert' 'concoct' 'condit' 'condition' 'conduct' 'confeder'
 'confess' 'confid' 'confin' 'conflict' 'confront' 'confus' 'congress'
 'conman' 'connect' 'connecticut' 'connel' 'connor' 'conquer' 'consequ'
 'consequences' 'conserv' 'consid' 'conspir' 'conspiraci' 'conspiracy'
 'constant' 'constantli' 'construct' 'consum' 'contact' 'contain'
 'contemporari' 'contend' 'content' 'contest' 'continu' 'contract'
 'contractor' 'control' 'controversi' 'convent' 'converg' 'convers'
 'convict' 'convinc' 'cook']

In [46]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [47]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse = True,key = lambda x : x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]]['title'])

In [48]:
recommend('Cars')

Cars 2
The Croods
Curious George
The Simpsons Movie
Marmaduke

In [50]:
import pickle
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))